<div class="home-container">
	<div class="banner">
	<div class="home-buttons-container">
			<%= link_to 'Find Beers', preferences_path, class: "btn btn-primary" %>
		<% if user_signed_in? %>
				<%= link_to 'Favourites', favourites_path, class: "btn btn-primary" %>
		<% else %>
				<%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
		<% end %>
	</div>
	</div>
</div>
