.btn {
	&.btn-primary {
		border-radius: 22px;
		background-color: transparent;
		border: solid #5D45E0 2px;
		color: #5D45E0;
		padding: 6px 30px;
		&:hover {
			background-color: #5D45E0;
			color: white;
		}
	}
	&.btn-secondary {
		border-radius: 22px;
		background-color: transparent;
		border: solid #7f7f7f 2px;
		color: #7f7f7f;
		padding: 6px 30px;
		&:hover {
			background-color: #7f7f7f;
			color: white;
		}
	}
	&.btn-light {
		color: #5D45E0;
		background-color: transparent;
		font-size: 13px;
		border: none;
		padding: 0px;
		&:hover {
			text-decoration: underline;
		}
	}
}