.checkbox-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-options {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;

  > span {
    width: 50%;
    display: inline-block;

    &:nth-child(1) {
      .checkbox-label {
        border-top-left-radius: 15px;
      }
    }
    &:nth-child(2) {
      .checkbox-label {
        border-top-right-radius: 15px;
      }
    }
    &:nth-child(3) {
      .checkbox-label {
        border-bottom-left-radius: 15px;
      }
    }
    &:nth-child(4) {
      .checkbox-label {
        border-bottom-right-radius: 15px;
      }
    }
  }
}
.checkbox-label {
  font-size: 24px !important;
  border: 1px solid white;
  display: block;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 0px;
  color: #6f6f6f;
  text-align: center;
  display: flex;
  justify-content: space-between;
  transition: background 0.3s;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-label {
  border: 1px solid #FEB300;
  // transform-origin: 0% 100%;
  // transform: scale(1.05);
  transition: 0.3s;
}


.simple_form label[for='results_category_pale_ale'] {
  background-image: url(asset_path('paleale-icon.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fcf7e4;
  padding: 8px 0px 74px 0px;
  background-position: center 38px;
}
.simple_form label[for='results_category_lager'] {
  background-image: url(asset_path('lager-icon.jpg'));
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fcf7e4;
  padding: 8px 0px 74px 0px;
  background-position: center 44px;
}
.simple_form label[for='results_category_cider'] {
  background-image: url(asset_path('cider-icon.jpg'));
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fcf7e4;
  padding: 8px 0px 74px 0px;
  background-position: center 44px;
}
.simple_form label[for='results_category_ipa'] {
  background-image: url(asset_path('ipa-icon.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fcf7e4;
  padding: 8px 0px 74px 0px;
  background-position: center 40px;
}


