.filters-dropdown-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.filters_category {
	margin: 0;
}
.filters_location {
	margin: 0;
}
.filters_size {
	margin: 0;
}

.dropdown-toggle {
	font-size: 14px !important;
  padding: 4px 20px !important;
  background-color: #7f7f7f !important;
  color: white !important;
}

.filters-dropdown-buttons {
	position: absolute;
  z-index: 3;
  top: 69px;
  left: 5px;
  width: 98%;
  display: flex;
  justify-content: space-around;
}

.dropdown-menu-content {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    font-size: 14px;
    .collection_radio_buttons {
    	margin-left: 6px;
    }
}

#filters_amount {
	border-radius: 8px;
	font-size: 12px;
}

.simple_form label[for='filters_distancetype_meters'] {
	display: inline;
}