.row {
	display: flex;
	justify-content: center;
	.form-login {
	  background: white;
	  padding: 20px;
	  margin-top: 50px;
	  border-radius: 3px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.03)
	}
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    margin-bottom: 20px
  }
  .form-actions {
  	display: flex;
    justify-content: center;
  }
  a {
  	color: black;
  }
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
	color: black;
}

.col-form-label {
  display: none;
}

.preferences-store-location {
  display: none;
}