.loading-page {
	background-image: url('https://cdn.dribbble.com/users/2225826/screenshots/6325756/beergif.gif');
    height: 200px;
    background-size: contain;
  	background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}
