.loading-page {
	background-image: url('/assets/loading-page.gif');
    height: 200px;
    background-size: contain;
  	background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
}
