.navbar-beer-bandits {
  justify-content: space-between;
  background: white;
  .navbar-collapse {
  flex-grow: 0;
	}
	.navbar-brand {
		display: flex;
		align-items: center;

	}
	.navbar-brand img {
  width: 40px;
  margin-right: 10px;
	}
	.navbar-brand-title {
		font-family: 'ZCOOL QingKe HuangYou', cursive;
	}
	.navbar-toggler {
		border: none;
	}
}


