.navbar {
	justify-content: space-between;
	background: white;
  .navbar-collapse {
  flex-grow: 0;
	}
	.navbar-brand {
		display: flex;
		// align-items: center;
	}
	.navbar-nav {
		align-items: flex-end;
    padding-right: 16px;
	}
	.navbar-brand img {
  width: 40px;
  margin-right: 10px;
	}
	.navbar-brand-title {
		font-family: 'Pacifico', cursive;
		font-size: 24px;
	}
	.navbar-toggler {
		border: none;
	}
}

.nav-link {
  color: black;
}

.dropdown-item {
  text-align: center;
}