.product-card {
  height: 210px;
  padding: 0px 12px 12px 12px;
  border-radius: 16px;
	.product-card-image {
		height: 128px;
		object-fit: cover;
	}
	.product-card-details {
		height: 100%;
		padding: 8px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.product-card-brand {
		font-size: 22px;
	}
	.product-card-name {
		font-size: 15px;
	}
	.product-card-price {
		background-image: url(price-tag.png);
		background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
  	height: 100px;
	}
	.product-card-price-text {
		padding-top: 55px;
    font-size: 19px;
    font-weight: 500;
	}
	.product-card-footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.product-card-distance {
		background-color: #ebebeb;
		color: #616161;
		font-size: 14px;
		width: 56px;
	  padding: 4px;
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
}