.product-card {
  height: 210px;
  padding: 0px 8px 8px 8px;
  border-radius: 16px;
  background-color: #fef5ce;
 }
.product-card-price {
	background-image: url(price-tag.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  background-position: center;
  margin: 0 auto;
  margin-top: 6px;
  padding: 20px;
  .product-card-price-text {
		font-family: 'Open Sans', sans-serif;
		// letter-spacing: 2px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 5px;
	}
}
.product-card-details {
	height: 100%;
	padding-top: 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	.product-card-brand {
		font-size: 16px;
	}
	.product-card-name {
    font-size: 13px;
	}
	.product-card-standards {
		font-size: 13px;
    background-color: #fffdf5;
    margin-bottom: 5px;
    padding: 4px;
	}
}
.js-drink-carousel-item {
  background-color: transparent;
  border: none;
}