.product-card {
  height: 210px;
  padding: 0px 8px 8px 8px;
  border-radius: 3px;
  border: 4px solid white;
  background-color: #fef5ce;
  justify-content: center;

  button {
    transition: transform 0.15s;
  }
  button:focus {
    outline: none;
    transform: scale(0.98);
  }
 }
.product-card-price {
	background-image: url(asset_path('price-tag.png'));
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  background-position: center;
  margin: 0 auto;
  margin-top: 6px;
  padding: 20px;
  .product-card-price-text {
		font-family: 'Open Sans', sans-serif;
		// letter-spacing: 2px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 5px;
	}
}
.product-card-details {
	// height: 100%;
	padding-top: 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	.product-card-name {
    font-size: 13px;
	}
}
.product-card-brand {
  font-size: 16px;
}
.js-drink-carousel-item {
  background-color: transparent;
  border: none;
}
