.radio-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 325px;
  .radio-header {
    margin-bottom: 16px;
  }
}

.radio-options {
	display: flex;
  text-align: center;
  height: 100%;
  width: 275px;
  justify-content: space-between;
  padding: 18px 0px;
}

.simple_form label[for='results_size_single'] {
  height: 100px;
  width: 100%;
  margin-bottom: 0px;
	background-image: url('single-beer.png');
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;	
}

.simple_form label[for='results_size_pack'] {
  height: 96px;
  width: 100%;
  margin-bottom: 0px;
	background-image: url('pack-beer.png');
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;	
}

.simple_form label[for='results_size_case'] {
  height: 102px;
  width: 115px;
  margin-bottom: 0px;
	background-image: url('case-beer.png');
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;	
}

.radio-input {
	position: absolute;
	opacity: 0;
}

.radio-input:checked ~ .radio-label {
  transform: scale(1.2);
  z-index: 1;
}

.radio-text {
	display: flex;
  justify-content: space-between;
  padding: 14px 0px;
  text-align: center;
  font-size: 17px;
  .radio-text-1 {
    width: 39px;
  }
  .radio-text-2 {
		width: 72px;
  }
  .radio-text-3 {
		width: 115px;
  }
}