$beer-color: #FEB300;
$beer-empty-color: #F3E4C0;
$option-height: 40px;

.beer-size-options {
  height: 220px;
  position: relative;
  text-align: center;

  > :nth-child(1) {
    .beer-bottle-top {
      background: $beer-color;
    }
    .beer-bottle-base {
      background: $beer-color;
    }
    .beer-bottle-lid {
      background: $beer-color;
    }
    .beer-size-label {
      bottom: $option-height;
    }
  }

  > :nth-child(2) label {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .beer-size-input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
  }

  .beer-size-input:checked ~ .beer-bottle-six-pack {
    .beer-bottle-top {
      background: $beer-color;
    }
    .beer-bottle-base {
      background: $beer-color;
    }
    .beer-bottle-lid {
      background: $beer-color;
    }
  }
  .beer-size-input:checked ~ .beer-size-label {
    background: $beer-color;
    font-weight: bold;
  }

  .beer-size-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $beer-empty-color;
    margin: 0;
    line-height: $option-height;
    border: 1px solid white;
    text-transform: uppercase;
  }

}
